
/* 
Name: Jibin Gallistus Gnanadhas
StudentID: 104361536
Name: Amelie Li Xuan Teh 
StudentID: 104044361
Name: Akash Tabassum
StudentID: 103524286
*/
.homepage-content {

  width: 450px;
  padding-top: 55px;
  text-align: center;
 
}

.sol-ar-heading {

 color: #FF6868;
 display: inline;

}