.dropzone {

    background-color: rgb(248, 245, 242);
    
    width: 700px;
    height: 300px;
    padding: 8px;
    padding-bottom: 12px;
    border-radius: 18px;

}

.inner-border{


    border-style: dashed;
    border-radius: 18px;
    height: 300px;
    font-size: 15px;
    text-align: center;

}

.supports {

    color: rgb(0, 0, 0);

}

.drag-icon {


    width: 150px;
    height: 150px;
    margin-top: 30px;


}