/* 
Name: Jibin Gallistus Gnanadhas
StudentID: 104361536
Name: Amelie Li Xuan Teh 
StudentID: 104044361
*/

.dropzone {

    background-color: rgba(196, 144, 95, 0.8);
    
    width: 700px;
    height: 300px;
    padding: 8px;
    padding-bottom: 12px;
    border-radius: 18px;
    color: aliceblue;
    

}

.inner-border{


    border-style: dashed;
    border-radius: 18px;
    height: 300px;
    font-size: 15px;
    text-align: center;

}

.supports {

    color: rgb(0, 0, 0);

}

.drag-icon {


    width: 150px;
    height: 150px;
    margin-top: 30px;


}

.accepted-files {

    display: inline;

}


.alert {
position: fixed; /* or absolute, depending on your requirement */
top: 50;
left: 50%;
transform: translateX(-50%);
z-index: 1000; /* Ensures the alert is above other elements */
width: 35%;

}

